/*
  Start: Finch GraphiQL editor overrides
*/

html,
body,
#root {
  height: 100vh;
  padding: 0;
  margin: 0;
}

.title {
  display: none;
}

.graphiql-container {
  height: calc(100vh - 48px);
}

.graphiql-container .execute-button-wrap {
  margin-left: 0;
}

.finch-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 45px;
}

.topBar.finch-header .title {
  display: inline-block;
  font-size: 1.4em;
  color: #cacdd3;
}

.finch-logo {
  width: 60.384px;
  height: 37px;
  margin: 4px 8px;
}

.finch-header,
.graphiql-container .topBar {
}

.graphiql-container .topBar {
  padding: 24px;
}

/*
  End: Finch GraphiQL editor overrides
*/
