on: push
name: Test Workflow
jobs:
  installDependencies:
    name: Install dependencies
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Setup container
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: Install Yarn
        run: npm install yarn --global
      - name: Yarn install
        run: yarn
      - name: Build Modules
        run: yarn lerna run build
      - uses: actions/cache@v2.1.6
        id: restore-build
        with:
          path: ./*
          key: ${{ github.sha }}
  test:
    name: Test
    needs: [installDependencies]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Setup container
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - uses: actions/cache@v2.1.6
        id: restore-build
        with:
          path: ./*
          key: ${{ github.sha }}
      - name: Lint Code
        run: yarn lint
      - name: Test Code
        run: yarn test
      - name: Compile Code
        run: yarn compile
      - name: Test build
        run: yarn build
